<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>


<%= @array.inspect %>
<br>

<% @array.each do |n| %>
	<%= n %> <br>
<% end %>

<%= @array[:name] %> <br>
<%= @array['name'] %>
<br>

<%= link_to('Hello', {:controller => 'demo', :action => 'hello'}) %> <br>

<%= link_to('With params', {:action => 'hello', :id => 20, :page => 5}) %>

<%#= render partial: 'form' %>